*,
html {
  margin: 0;
  padding: 0;

  box-sizing: content-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
body {
  font-weight: bold;
  background-color: rgba(7, 7, 92, 0.973);
  color: white;
}

footer {
  background-color: rgb(6, 6, 73);
  display: flex;
  flex-direction: row;
  height: 30px;
}
ul li {
  display: inline;
}
ul {
  margin-left: auto;
}

.movie-container {
  display: grid;

  grid-template-columns: repeat(4, 1fr); /* 한 줄에 4개의 열 */
  gap: 10px;

  padding: 10px 10% 0 10%;
  box-sizing: content-box;
}

.movie {
  background-color: rgb(57, 57, 136);
  min-height: 373px;

  border-radius: 5px;
  position: relative;
  box-sizing: content-box;
}
.movie img {
  min-height: 80%;
  height: 80%;
}

.before-hover {
  display: none;
}

.hover .overview {
  display: block;
  position: absolute;
  font-size: large;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);

  color: white;
  padding: 20px;
  margin: 0;
}

.hover .overview p {
  font-size: 15px;
  height: 100%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
}
.hover img {
  opacity: 0.5;
}

.movie img {
  width: 100%;
}

.movie .content {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 50px 10px;
}
